{
  # Use google's config as a baseline.
  "extends": "eslint-config-google",
  "parserOptions": {
    # Allow ES6 syntax and node modules.
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "rules": {
    "no-unused-vars": "off",
    "linebreak-style": "off",
    # Disable rules or jsdoc.
    "require-jsdoc": "off",
    "valid-jsdoc": "off",
  }
}
